[Desktop Entry]
Version=1.0
Type=XSession
Name=Simula VR Desktop
GenericName=Simula VR Desktop Environment
Comment=VR Desktop Environment and Wayland Compositor
Exec=simula-session
Icon=simula
Terminal=false
Categories=System;
DesktopNames=Simula
