[Desktop Entry]
Name=Simula VR Desktop
Comment=VR Desktop Environment powered by Simula
Exec=/usr/local/bin/simula-session
Terminal=false
TryExec=/usr/local/bin/simula-session
Type=Application
DesktopNames=Simula

[X-Window Manager]
SessionManaged=true
